ul {
    display: table;
    margin: 0 auto;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/files/Background.jpg');
}

#header {
    font-family: "Edwardian Script ITC", cursive;
    color: white;
    font-size: xx-large;
}